body { 
margin: 0; padding: 0;
box-sizing: border-box;
}


header{
    width:  100%;
    height:  100%;
    background-image; url('../gg.jpg');
    background-repeat: no-repeat;
    background-size:  100% 100%;
}

.mainheader{
    width:  100%;
    height: 100%;
    display:  flex;
    justify-content:  space-between;
    align-items: center;
}

.mainheader nav{
    width:  450px;
    display: flex;
    justify-content: none;
    align-items: center;
}

.mainheader nav a{
    text-decoration:  none;
    color:  black;
    text-transform: uppercase;
}

 .menubtton {
    margin-right: 60px; 
 }
.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #000080;
    border: none;
    background-color: #fff ;
    border-radius: 10px;
}




